@media (max-width: 1220px) {
    .media-cont {
        width: 90%;
    }

    .stages__plane {
        top: -25px;
        transform-origin: left;
        transform: scale(0.88);
        z-index: -1;
    }
    .stages-wrap {
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 158px 142px;
        grid-template-columns: repeat(5, 415px);
        flex-direction: row;
        justify-items: center;
        row-gap: 0;
        height: 300px;
        position: relative;
        left: calc(50% - 415px/2);
        transition: transform ease 0.7s;
    }
    .stage:not(:nth-child(2), :nth-child(5)) {
        padding-top: 62px;
    }
    .stage:nth-child(3){
        grid-area: 1 / 2 / 3 / 3;
        background: url(/img/stage3-bg.png) center no-repeat;
    }
    .stage:nth-child(6){
        grid-area: 1 / 4 / 3 / 5;
        background: url(/img/stage7-bg.png) center no-repeat;
        padding-right: 24px;
    }
    .stage:nth-child(7){
        grid-area: 1 / 5 / 3 / 6;
        background: url(/img/stage7-bg.png) center no-repeat;
        padding-right: 24px;
    }
    .stage {
        background-size: cover !important;
        font-size: 18px;
        padding-right: 24px;
    }
    .stages__gal-control-menu {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-top: 28px;
    }
}

@media (max-width: 960px) {
    .stages__plane {
        top: 44px;
    }
}

@media (max-width: 780px) {
    .stages__plane {
        top: 124px;
    }
}

@media (max-width: 560px) {
    .media-cont {
        width: 336px;
    }

    .header {
        max-height: none;
        height: 776px;
    }
    .header__BG {
        transform-origin: center;
        transform: scale(0.45);
        bottom: -73%;
        right: -16%;
    }
    .header__main-info {
        margin-top: 40px;
        width: auto;
    }
    .title1 {
        font-size: 36px;
    }
    .header__desc {
        text-align: left;
    }
    .header__buttons {
        flex-direction: column;
    }
    .header__button {
        padding: 0;
        width: 95vw;
        height: 47px;
    }
    .header__button__second {
        border: none;
        background-color: #FFFFFFE6;
    }
    .intro__media-cont {
        flex-direction: column;
    }
    .title3 {
        font-size: 28px;
    }
    .intro__title3 {
        width: auto;
    }
    .main-info__media-cont {
        flex-direction: column;
    }
    .main-info__main-block {
        width: auto;
    }
    .table-info__cell:not(:last-child) {
        width: auto;
    }
    .stages {
        overflow-x: hidden;
    }
    .title2 {
        font-size: 36px;

        span {
            margin-left: 0;
        }
    }
    .stages__title2 {
        margin-bottom: 148px;
    }
    .stages__plane {
        top: 202px;
    }
    .stages-wrap {
        grid-template-columns: repeat(5, 335px);
        left: 0;
        transition: transform ease 0.7s;
    }
    .members__gal-control-menu__desktop {
        display: none;
    }
    .members__gal-control-menu__mobile {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .members_gal {
        margin-bottom: 40px;
    }
    .member {
        width: 335px;
    }
    .member__ava {
        width: 244px;
        height: 244px;
    }

}