@media (max-width: 375px) {
    .media-cont {
        width: 336px;
    }

    .header {
        max-height: none;
        height: 776px;
    }
    .header__filter {
    }
    .media-cont {
    }
    .header__media-cont {
    }
    .BG {
    }
    .header__BG {
        transform-origin: center;
        transform: scale(0.45);
        bottom: -73%;
        right: -16%;
    }
    .BG__elem {
    }
    .stages__gal-control-menu {
        display: flex;
    }
    .BG__elem__sun {
    }
    .BG__elem__ferz {
    }
    .BG__elem__korol {
    }
    .BG__elem__city {
    }
    .BG__elem__kon {
    }
    .BG__elem__peshka {
    }
    .header__logo {
    }
    .header__main-info {
        margin-top: 40px;
        width: auto;
    }
    .title1 {
        font-size: 36px;
    }
    .header__title1 {
    }
    .header__desc {
        text-align: left;
    }
    .header__buttons {
        flex-direction: column;
    }
    .header__button {
        padding: 0;
        width: 95vw;
        height: 47px;
    }
    .header__button__first {
    }
    .header__button__second {
        border: none;
        background-color: #FFFFFFE6;
        o
    }
    .runing-text {
    }
    .runing-text__wrapper {
    }
    .runing-text__text {
    }
    .runing-text__text1 {
    }
    .runing-text__text2 {
    }
    .intro {
    }
    .intro__media-cont {
        flex-direction: column;
    }
    .title3 {
        font-size: 28px;
    }
    .intro__title3 {
        width: auto;
    }
    .intro__photo {
    }
    .main-info {
    }
    .main-info__media-cont {
        flex-direction: column;
    }
    .main-info__photo {
    }
    .main-info__main-block {
    }
    .main-info__title3 {
    }
    .table-info {
    }
    .table-info__row {
    }
    .table-info__cell {
    }
    .table-info__discount {
    }
    .table-info__cell:not(:last-child) {
        width: auto;
    }
    .main-info__faq {
    }
    .stages {
        overflow-x: hidden;
    }
    .stages__media-cont {
    }
    .title2 {
        font-size: 36px;

        span {
            margin-left: 0;
        }
    }
    .stages__title2 {
        margin-bottom: 148px;
    }
    .stages__plane {
        top: 202px;
        transform-origin: left;
        transform: scale(0.88);
    }
    .stages-wrap {
        display: flex;
        display: grid;
        grid-auto-flow: column;
        grid-template-rows: 158px 142px;
        grid-template-columns: repeat(5, 335px);
        flex-direction: row;
        justify-items: center;
        row-gap: 0;
        height: 300px;
        position: relative;
        z-index: -1;
        left: 0;
        transition: transform ease 0.7s;
    }
    .stage:not(:nth-child(2), :nth-child(5)) {
        padding-top: 62px;
    }
    .stage:nth-child(3){
        grid-area: 1 / 2 / 3 / 3;
        background: url(/img/stage3-bg.png) center no-repeat;
    }
    .stage:nth-child(6){
        grid-area: 1 / 4 / 3 / 5;
        background: url(/img/stage7-bg.png) center no-repeat;
        padding-right: 24px;
    }
    .stage:nth-child(7){
        grid-area: 1 / 5 / 3 / 6;
        background: url(/img/stage7-bg.png) center no-repeat;
        padding-right: 24px;
    }
    .stage {
        background-size: cover !important;
        font-size: 18px;
        padding-right: 24px;
    }
    .stages__gal-control-menu {
        
        width: fit-content;
        margin: 0 auto;
        margin-top: 28px;
    }
    .stage__number {
    }
    .members {
    }
    .members__media-cont {
    }
    .members__head {
    }
    .members__title2 {
    }
    .members__gal-control-menu {
    }
    .members__gal-control-menu__desktop {
        display: none;
    }
    .members__gal-control-menu__mobile {
        display: flex;
        width: fit-content;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .members__gal-btn {
    }
    .members__gal-btn__disabled {
        background-color: #D6D6D6 !important;
    }
    .members__gal-btn__prev {
    }
    .members__gal-counter {
    }
    .span {
    }
    .members__gal-btn__next {
    }
    .gal {
    }
    .members_gal {
        margin-bottom: 40px;
    }
    .gal__list {
    }
    .member {
        width: 335px;
    }
    .member__ava {
        width: 244px;
        height: 244px;
    }
    .member__name {
    }
    .member__tag {
    }
    .member__desc {
    }
    .footer {
    }
    .footer__media-cont {
    }

}