/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
  font-size: 20px;
  font-family: "Golos Text";
  font-weight: normal;
  color: #313131;
  
  
}

html {
    scroll-behavior: smooth;

}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/* Основные стили */
.media-cont {
    width: 1220px;
    margin: 0 auto;
}
.title1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: "Merriweather";
    font-weight: normal;

}
.title2 {
    font-size: 54px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.35;
    font-family: "Merriweather";

    span {
        font-family: "Golos text";
        display: inline-block;
        width: 280px;
        margin-left: 19px;
        text-transform: none;
        color: #3057A2;
        font-size: 20px;
    }
}
.title3 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.35;
    font-family: "Merriweather";

    span {
        color: #F54932;
        font-weight: bold;
    }
}

.runing-text {
    height: 60px;
    width: 100%;
    overflow: hidden;
    background-color: #F54932;
    /* width: max-content; */
    text-transform: uppercase;
    
}
.runing-text__wrapper {
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: inherit;
}
.runing-text__text {
    font-family: "Merriweather";
    font-size: 22px;
    color: white;
}
.runing-text__text1 {

}
.runing-text__text2 {

}

.header {
    height: 700px;
    max-height: 700px;
    position: relative;
    overflow: hidden;
    background-color: #E9DED4;
}
.BG {
    position: absolute;
    width: 100%;
    height: 100%;
}
.header__BG {
    filter: url(/img/header-filter.png);
}
.BG__elem {
    position: absolute;
    max-width: none;
}
.BG__elem__sun {
    bottom: -107px;
    right: -94px;
    width: 776px;
    height: 776px;
}
.BG__elem__ferz {
    bottom: 150px;
    right: 90px;
    width: 145px;
    height: 265px;
}
.BG__elem__korol {
    bottom: 40px;
    right: 435px;
    width: 130px;
    height: 265px;
}
.BG__elem__city {
    bottom: -133px;
    right: -203px;
    width: 1603px;
    height: 463px;
}
.BG__elem__kon {
    bottom: -168px;
    right: 263px;
    width: 196px;
    height: 268px;
}
.BG__elem__peshka {
    right: -23px;
    bottom: -107px;
    width: 82px;
    height: 122px;
}
.header__media-cont {
    position: relative;
}
.header__filter {
    background-image: url(/img/header-filter.png);
    background-position: center;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    mix-blend-mode: color-burn;
}
.header__logo {
    height: 36px;
    margin-top: 26px;
    z-index: 2;
    position: relative;
}
.header__main-info {
    margin-top: 62px;
    width: 542px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    position: relative;
}

.header__title1 {
    span {
        text-align: center;
        display: inline-block;
    }
}
.header__desc {
    margin-top: 24px;
    margin-bottom: 40px;
    font-size: 18px;
    text-align: center;
}
.header__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.header__button {
    width: 263px;
    height: 72px;
    border-radius: 66px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    display: flex;align-items: center;
    justify-content: center;
    padding: 0 49px 0 49px;
    transition: background-color ease 0.1s, color ease 0.1s;
    cursor: pointer;
}
.header__button__first {
    background-color: #1F1F1F;
    color: white;
}
.header__button__first:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
}
.header__button__second {
    border: 2px solid #1F1F1F;
    color: #1F1F1F;
}
.header__button__second:hover {
    background-color: #1F1F1F;
    color: white;
}

.intro {
}
.intro__media-cont {
    padding-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}
.intro__title3 {
    width: 754px;
}
.intro__photo {
}

.main-info {
}
.main-info__media-cont {
    padding-top: 64px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.main-info__photo {
    transform: translate(-27px, -47px);
}
.main-info__main-block {
    width: 690px;
}
.main-info__title3 {
    margin-bottom: 60px;
}

.table-info {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 48px;
    table-layout: fixed;
}
.table-info__row {
}

.table-info__row:not(:last-child){
    border-bottom: 1px solid #D0D0D0;
}
.table-info__cell {

}

.table-info__cell:not(:last-child){
    border-right: 1px solid #D0D0D0;
    padding: 16px 16px 16px 0;
    width: 306px;
    opacity: 0.7;
}
.table-info__cell:not(:first-child){
    padding: 16px 0 16px 16px;
    font-weight: 600;

}
.table-info__row:first-child .table-info__cell {
    padding-top: 0;
}
.table-info__row:last-child .table-info__cell {
    padding-bottom: 0;
}

.table-info__discount {
    text-decoration: line-through;
    text-decoration-color: #F54932;
}

.main-info__faq {
    color: #3057A2;
    text-decoration: none;
}

.stages {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow-x: hidden;
}
.stages__media-cont {
    position: relative;
}

.stages__title2 {
    margin-bottom: 54px;
}
.stages__plane {
    background: url(/img/plane.png) no-repeat center;
    background-size: cover;
    position: absolute;
    width: 400px;
    height: 235px;
    bottom: 0;
    right: -62px;
}
.stages-wrap {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 112px 112px 136px;
    gap: 20px;
    z-index: -2;
}
.stage {
    background: url(/img/stage-bg.png) center no-repeat;
    background-size: cover;
    padding: 20px 0 0 20px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
}
.stage__number {
    min-width: 36px;
    max-width: 36px;
    height: 36px;
    border-radius: 60px;
    background-color: white;
    padding-top: 6px;
    text-align: center;
    font-weight: 600;
    margin-right: 16px;
}
.stage:nth-child(3){
    grid-area: 1 / 3 / 3 / 4;
    background: url(/img/stage3-bg.png) center no-repeat;
}
.stage:nth-child(7){
    grid-area: 3 / 2 / 4 / 4;
    background: url(/img/stage7-bg.png) center no-repeat;
    padding-right: 310px;
}
.members__gal-btn__disabled {
    background-color: #D6D6D6 !important;
}

.members {
}
.members__media-cont {
}
.members__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title2 {
}
.members__title2 {
}
.gal-control-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 14px;
}
.members__gal-control-menu {

}
.members__gal-control-menu__desktop {
    
}
.members__gal-control-menu__mobile {
    display: none;
}
.members__gal-btn {
    width: 44px;
    height: 44px;
    border-radius: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #313131;
    transition: background-color ease 0.1s;
    cursor: pointer;
    border: none;
}
.members__gal-btn:hover {
    background-color: #FBCE51;
}
.members__gal-btn__prev {
    background-image: url(/img/btn-left.svg);
}
.members__gal-counter .span{
        opacity: 0.6;
}
.members__gal-btn__next {
    background-image: url(/img/btn-left.svg);
    transform: rotate(180deg);
}
.gal {
    overflow-x: hidden; 
}
.members_gal {
    margin-top: 60px;
    margin-bottom: 140px;
    display: flex;
}
.gal__list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    position: relative;
    width: fit-content;
}
.gal__list__active {
    transition: transform ease 0.7s;
}
.stages__gal-control-menu {
    display: none;
}
.member {
    width: 394px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.member__ava {
    width: 320px;
    height: 320px;
    margin-bottom: 28px;
}
.member__name {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 6px;
}
.member__tag {
    opacity: 0.6;
    margin-bottom: 20px;
}
.member__desc {
    font-size: 16px;
    color: #3057A2;
    width: 113px;
    height: 35px;
    border-radius: 62px;
    border: 1px solid #3057A2;
    text-decoration: none;
    text-align: center;
    padding-top: 7px;
    transition: background-color ease 0.1s, color ease 0.1s;
    cursor: pointer;
}
.member__desc:hover {
    color: white;
    background-color: #3057A2;
}

.footer {
    background-color: #E9DED4;
    padding-top: 40px;
    padding-bottom: 72px;
    font-size: 16px;
}